@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

* {
  font-family: 'Amiri', serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* تخصيص شريط التمرير في Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #072A30 #d3d2d0c1;
}


/* -------------------------- header -------------------------- */
/* تعديل الهيدر للتأكد من أن الخلفية بيضاء وإزالة الهوامش */
.header {
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #c9c9c9;
    background-color: #ffffff;
    margin: 0;
    margin-top: 1px;
    box-sizing: border-box;
}

.header a {
    color: #104149;
    margin: 0 20px;
    margin-top: 1%;
    font-size: 2.3rcap;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
    color: #7A303F;
}

section {
    height: 100vh;
    /* Each section takes the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(0, 0, 0);
}

/* -------------------------- section 1 -------------------------- */

#section1 {
    /* background-image: url("static/images/index_interface/bk1.png"); تعيين صورة الخلفية */
    background-repeat: no-repeat;
    /* منع تكرار الصورة */
    background-size: cover;
    /* الحفاظ على حجم الصورة الطبيعي */
    background-position: center top;
    margin: 0;
    margin-top: 0;
    height: 90vh;
    /* تأكد من أن القسم يأخذ الارتفاع الكامل للنافذة */
}

header,
content {
    position: relative;
    /* تأكيد أن العناصر فوق الخلفية */
    z-index: 1;
    /* وضع هذه العناصر فوق الخلفية */
}


.content {
    display: flex;
    /* تفعيل Flexbox */
    flex-direction: column;
    /* ترتيب المحتوى عموديًا */
    justify-content: center;
    /* محاذاة في المنتصف عموديًا */
    align-items: center;
    /* محاذاة في المنتصف أفقيًا */
    width: 100%;
    /* ملء العرض بالكامل */
    padding: 20px;
    /* حواف داخلية */
    box-sizing: border-box;
    /* أخذ الحواف في الحساب */
}

.text-and-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    text-align: right;
}

.text-and-button p {
    color: #104149;
    font-size: 2rem;
    line-height: 2;
    margin: 0;
    font-family: 'Amiri', serif;

}

.text-and-button .button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
    position: relative;
    left: -80%;
    top: -40px;
}

.text-and-button button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #7A303F;
    border: 1px solid #7A303F;
    border-radius: 50px;
    background: none;
    cursor: pointer;
    font-family: 'Amiri', serif;
}

.text-and-button button:hover {
    background-color: #7A303F;
    color: white;
}

.text-and-button button:hover {
    background-color: #7A303F;
    color: white;
}

/* -------------------------- section 2 -------------------------- */

#section2 {
    background: #FBF9EC;
    height: 75vh;
}
.my-section {
    position: relative; /* لتحديد موضع الصورة بشكل نسبي */
    padding: 20px 0; /* حشوة داخلية للقسم */
}

.separator {
    display: block; /* جعل الصورة عنصر كتلة */
    width: 100%; /* عرض الصورة 100% من عرض القسم */
    margin: 0; /* إزالة الحواف */
}
.separator {
    position: absolute; /* تعيين الموضع المطلق */
    left: 0; /* محاذاة إلى اليسار */
    right: 0; /* محاذاة إلى اليمين */
}

.separator:first-of-type {
    top: 0; /* وضع الصورة في الأعلى */
}
.separator:last-of-type {
    bottom: 0; /* وضع الصورة في الأسفل */
}
.material-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #072A30;
    font-size: 30px;
    font-family: 'Amiri', serif;
    text-align: center;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto
}
.button-container {
    display: flex; 
    gap: 10px; 
    justify-content: center; 
    justify-items: center;
}

.material-btn {
    padding: 15px 50px; 
    font-size: 22px;
    margin: 10px;
    background-color: #7A303FFA;
    color: white;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    transition: box-shadow 0.3s ease;
    font-family: 'Amiri', serif;
}
.material-btn:hover {
    background-color: #7A303F;
    color: white;
    box-shadow: 0 0 20px rgba(122, 48, 63, 0.8), 0 0 30px rgba(122, 48, 63, 0.4);
}

/* 
.text-and-button2 {
    flex: 1;
    text-align: center;
    padding: 0 30px;

}

.text-and-button2 p {
    font-size: 3.5rem;
    line-height: 2;
    color: #072A30;
    margin-bottom: 10px;
    font-family: 'Amiri', serif;
}

.text-and-button2 button {
    padding: 20px 60px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #7A303F;
    cursor: pointer;
    font-family: 'Amiri', serif;

}

.text-and-button2 button:hover {
    box-shadow: 0 0 15px 5px #6f2c39;

}

.text-and-button2 button:focus {
    box-shadow: 0 0 15px 5px #dd5d77;
}*/

/* -------------------------- section 3 -------------------------- */

#section3 {
    background-image: url("static/images/index_interface/bk.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    background-attachment: fixed;
    margin: 0;
    height: 80vh;
}

.container {
    position: relative;
    /* تأكيد أن العناصر فوق الخلفية */
    z-index: 1;
    /* وضع هذه العناصر فوق الخلفية */
}

.container {
    display: flex;
    justify-content: space-around;
    /* توزيع الكروت بالتساوي مع مسافات متساوية */
    flex-wrap: wrap;
    /* السماح بالتفاف الكروت إلى صفوف متعددة عند الحاجة */
    gap: 20px;
    /* إضافة مسافة بين الكروت */
    padding: 20px;
    /* حواف داخلية للمحتوى */
}

.row {
        display: flex; /* استخدام flexbox للعناصر */
        justify-content: center; /* تمركز العناصر أفقياً */
        align-items: center; /* تمركز العناصر عمودياً (إذا كان هناك ارتفاع محدد) */
        justify-items: center;
        width: 100%; /* عرض الصف */
        gap: 25px; /* المسافة بين العناصر */
        flex-wrap: nowrap; /* يسمح للعناصر بالانتقال إلى السطر التالي عند الحاجة */
}

.col {
        flex: 1; /* كل عمود يأخذ نفس المساحة */
        max-width: calc(30% - 20px); /* زيادة الحد الأقصى لعرض العمود (يمكنك تعديل القيمة) */
        box-sizing: border-box; /* ضمان احتساب الحدود والحشوات في العرض */
}

.material-card {
    width: 100%; /* يجعل البطاقة تأخذ كامل عرض العمود */
    aspect-ratio: 1; /* يجعل البطاقة مربعة الشكل */
    border: 1px solid #AEA38A;
    border-radius: 10px;
    background-color: #FBF9EC;
    display: flex;
    flex-direction: column; /* ترتيب المحتوى عمودياً */
    align-items: center; /* محاذاة محتوى البطاقة عمودياً */
    justify-content: center; /* محاذاة محتوى البطاقة أفقياً */
    overflow: hidden; /* لإخفاء أي محتوى زائد */
    padding: 10px; /* حشوة داخلية للبطاقة */
    height: 200px; /* تحديد ارتفاع البطاقة (يمكنك تعديل القيمة) */
}


.material-card:hover {
    transform: scale(1.07);
    /* تكبير الكرت عند التمرير */
}


.material-card img {
    max-width: 80%;
    height: auto; 
    margin-bottom: 0;
    border-radius: 8px;
    object-fit: cover;
}

.material-card p {
    font-size: 18px;
    font-family: 'Amiri';
    font-weight: bold;
    color: #072A30;
    margin-top: 0; 
    margin-bottom: 0; 
    text-align: center;
}




/* -------------------------- separator image -------------------------- */

/* .separator {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;

} */

/* -------------------------- footer -------------------------- */

.footer {
    background-color: #072A30;
    color: white;
    padding: 10px;
}

.footer .container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feather-icon {
    width: 20px;
    /* حجم الريشة */
    margin-bottom: 2%;
}

.social-icons {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    justify-items: left;
}

.social-icons a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ccc;
}

.footer-text {
    text-align: right;
    justify-content: right;
    padding-right: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}