<!-- index.html: الواجهة الرئيسية -->
<!-- <!DOCTYPE html> -->

<!-- This defines the language of the page as Arabic (ar) -->
<!-- <html lang="ar"> -->

<!-- <head> -->

<!-- Link to use the cards (material) -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"> -->
<!-- Link of the type of font used -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet"> -->
<!-- Link of the icons used in the footer -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> -->
<!-- To link the CSS code to the interface -->
<!-- <link href="{{ url_for('static', path='StyleSheets/poetry_generation.css') }}" rel="stylesheet"> -->
<!-- Fav Icon -->
<!-- <link href="static\images\FavIcon.png" sizes="32x32" rel="icon" type="image/png"> -->
<!-- The page title -->
<!-- <title>الرئيسية | قافية</title> -->
<!-- h -->
<!-- </head> -->


<!-- <body> -->

<!-- button to go to the output interface to display the poem -->
<!-- <a href="/select-poet">
        <button class="material-btn-last"> انشئ حسب الشاعر </button>
    </a>

    <a href="/select-genre">
        <button class="material-btn-last"> انشئ حسب نوع القصيدة </button>
    </a>

    <a href="/classify_poetry">
        <button class="material-btn-last">صنف القصيدة </button>
    </a>
     -->
<!-- 
</body>

</html> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- <link href="styles.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', path='StyleSheets/index.css') }}" rel="stylesheet">
    <title>الرئيسية | قافية</title>
    <script src="static/JavaScript/index.js"></script>

    <style>
        #section1 {
            background-image: url("static/images/index_interface/bk1.png");
        }

        #section3 {
            background-image: url("static/images/index_interface/bk2.png");
        }
    </style>
</head>

<body>

    <div class="header">
        <nav>
            <a href="#section1">الرئيسية</a>
            <a href="#section2">أنشئ قصيدتك</a>
            <!-- <a href="#section4">صنف قصيدتك</a> -->
            <a href="#section3">نبذة عنا</a>
        </nav>
    </div>


    <!-- Section 1 -->

    <section id="section1">
        <div class="content">
            <div class="text-and-button">
                <p><span style="font-weight: bold;">قافيــة</span><br>إبداعك الشعري يبدأ هنا<br>حيث يلتقي الذكاء بالفن،
                    تولد الأبيات</p>

                <div class="button-container">
                    <button onclick="scrollToSection()">انشئ قصيدتك الآن</button>
                </div>
            </div>
        </div>

    </section>

    <!-- Image Separator between Section 1 and Section 2 -->
    <img src="static/images/index_interface/spreate.png" alt="Separator Image" class="separator">

    <!-- Section 2 -->

    <section id="section2">
        <div class="text-and-button2">
            <p>حسب ماذا تريد انشاء قصيدتك؟</p>
            <br>
            <a href='/select-genre'> <button>نوع الشعر</button></a>
            <a href='/select-poet'> <button>أسلوب شاعر</button></a>
        </div>
    </section>

    <!-- Image Separator between Section 2 and Section 3 -->
    <img src="static/images/index_interface/spreate.png" alt="Separator Image" class="separator">

    <!-- Section 3 -->

    <section id="section3">
        <div class="content2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="material-card">
                            <div class="material-card-content">
                                <img src="static/images/index_interface/fearther.png" alt="ريشه">
                                <p>خديجة علي العجمي</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="material-card">
                            <div class="material-card-content">
                                <img src="static/images/index_interface/fearther.png" alt="ريشه">
                                <p>لينا علي اليماني</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="material-card">
                            <div class="material-card-content">
                                <img src="static/images/index_interface/fearther.png" alt="ريشه">
                                <p>ولاء ملفي اللقماني</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="material-card">
                            <div class="material-card-content">
                                <img src="static/images/index_interface/fearther.png" alt="ريشه">
                                <p>رهام فوزان المطرفي</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="container-footer">
            <div class="social-icons">
                <a href="https://linktr.ee/teamqafiah" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:teamqafiah@gamil.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <div class="footer-content">
                <img src="static/images/feather.png" alt="Feather" class="feather-icon">
                <p class="footer-text">جميع الحقوق محفوظة 2025 © قافية</p>
            </div>
        </div>
    </footer>


    <!-- Importing Materialize JavaScript library -->

</body>

</html>