<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="{{ url_for('static', path='StyleSheets/index.css') }}" rel="stylesheet">
    <!-- Fav Icon -->
    <link href="static\images\FavIcon.png" sizes="32x32" rel="icon" type="image/png">
    <script src="static/JavaScript/index.js"></script>
    <title>الرئيسية | قافية</title>

    <style>
        #section1 {
            background-image: url("static/images/index_interface/bk4.svg");
        }

        #section3 {
            background-image: url("static/images/index_interface/bk2.png");
        }
    </style>
</head>

<body>
    <!-- header -->
    <div class="header">

        <a href="#section1">الرئيسية</a>
        <a href="#section2">أنشئ قصيدتك</a>
        <a href="#section3">نبذة عنا</a>

    </div>

    <!-- Section 1 -->

    <section id="section1">
        <div class="content">
            <div class="text-and-button">
                <p><span style="font-weight: bold;">قافيــة</span><br>إبداعك الشعري يبدأ هنا<br>حيث يلتقي الذكاء بالفن،
                    وتولد الأبيات</p>

                <div class="button-container">
                    <button onclick="scrollToSection()">انشئ قصيدتك الآن</button>
                </div>
            </div>
        </div>

    </section>

    <section id="section2" class="my-section">
        <img src="static/images/index_interface/spreate.png" alt="Separator Image" class="separator">
        <div class="container">
            <div class="material-title">حسب ماذا تريد انشاء قصيدتك؟</div>
            <div class="button-container">
                <a href='/select-poet'> <button class="material-btn">الشاعر</button></a>
                <a href='/select-genre'> <button class="material-btn">نوع الشعر</button></a>
            </div>
        </div>
        <img src="static/images/index_interface/spreate.png" alt="Separator Image" class="separator">
    </section>

    <!-- Section 3 -->

    <section id="section3">
        <div class="container">
            <p>نحن فريق مبدع من جامعة أم القرى، مكون من أربع طالبات طموحات بإشراف دكتورتنا القديرة اريج الصيني</p>

            <div class="row">

                <div class="col">
                    <div class="material-card">
                        <img src="static/images/index_interface/fearther.png" alt="ريشه">
                        <p>رهام فوزان المطرفي</p>
                    </div>
                </div>

                <div class="col">
                    <div class="material-card">
                        <img src="static/images/index_interface/fearther.png" alt="ريشه">
                        <p>خديجة علي العجمي</p>
                    </div>
                </div>

                <div class="col">
                    <div class="material-card">
                        <img src="static/images/index_interface/fearther.png" alt="ريشه">
                        <p>لينا علي اليماني</p>
                    </div>
                </div>

                <div class="col">
                    <div class="material-card">
                        <img src="static/images/index_interface/fearther.png" alt="ريشه">
                        <p>ولاء ملفي اللقماني</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="container-footer">
            <div class="social-icons">
                <a href="https://linktr.ee/teamqafiah" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:teamqafiah@gamil.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <div class="footer-content">
                <img src="static/images/feather.png" alt="Feather" class="feather-icon">
                <p class="footer-text">جميع الحقوق محفوظة 2025 © قافية</p>
            </div>
        </div>
    </footer>


    <!-- Importing Materialize JavaScript library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });

    </script>

</body>

</html>