<!-- poetry_display.html: لعرض الشعر المولد -->
<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='StyleSheets/Poetry_display.css') }}" rel="stylesheet">
    <link href="static\images\FavIcon.png" sizes="32x32"  rel="icon" type="image/png">
    <title>واجهة عرض القصيدة</title>
</head>

<body>
    <!-- الهيدر -->
    <div class="header">
        <nav>
            <a href="/">الرئيسية</a>
            <a href="#">أنشئ قصيدتك</a>
            <a href="#">نبذة عنا</a>
        </nav>
        <div class="logo">
            <img src="\static\images\qafiah_logo.png" alt="logo" width="70" height="65">
        </div>
    </div>

    <div class="container">
        <div class="image-bg"></div>
        <div class="material-card">
            <div class="material-card-content">
                <p>إن كان لي وطن، فوجهك وطني</p>
                <p>وإن كان لي دار، فحبك داري</p>
                <p>إن كان لي وطن، فوجهك وطني</p>
                <p>وإن كان لي دار، فحبك داري</p>
            </div>
        </div>
        <button class="material-btn-last" onclick="showSpinner()">أعد إنشاء القصيدة</button>
    </div>

    <footer class="footer">
        <div class="container-footer">
            <div class="social-icons">
                <a href="https://linktr.ee/yourusername" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:teamqafiah@gamil.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <div class="footer-content">
                <img src="static/images/feather.png" alt="Feather" class="feather-icon">
                <p class="footer-text">جميع الحقوق محفوظة 2025 © قافية</p>
            </div>
        </div>
    </footer>

    <!-- إضافة مكتبة JavaScript لمكتبة Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static\JavaScript\script.js"></script>

</body>

</html>
<!-- 
        <div class="overlay" id="overlay">
            <div class="loader"></div>
        </div> -->
<!-- الصورة والنص في المنتصف لعرض الشعر
            <div class="poem-container">
                <div class="poem-image"></div>
                <div class="overlay-text">
                    <p>إن كان لي وطن، فوجهك وطني</p>
                    <p>وإن كان لي دار، فحبك داري</p>
                </div>
            </div> -->



<!-- <div class="col s12 m4">
                    <div class="main-image">
                        <img src="C:\Users\wloow\Dropbox\PC\Desktop\Qafiah System\Qafiah\assets\images\bigTree.png"
                            alt="Palm Tree"> 
                    </div>
                    <div class="small-image">
                        <img src="C:\Users\wloow\Dropbox\PC\Desktop\Qafiah System\Qafiah\assets\images\smallTree.png"
                            alt="Palm Tree"> 
                    </div>
                </div>  -->


<!-- <div class="col s12 m4">

                    <div class="stand-image">
                        <img src="C:/Users/wloow/Dropbox/PC/Desktop/Qafiah System/Qafiah/assets/images/stand_display.png"
                            alt="Stand Image" />
                    </div>

                    <div class="Vase-image">
                        <img src="C:/Users/wloow/Dropbox/PC/Desktop/Qafiah System/Qafiah/assets/images/fazah_display.png"
                            alt="Vase Image" />
                    </div>
                </div> -->