<!-- poetry_generation.html: لتوليد الشعر -->
<!-- Hi am leena -->

<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <!-- رابط لتزبيط الكاردز -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- رابط نوع الخط المستخدم -->
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    <!-- رابط الايكونز اللي فالفوتر -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- ربط الستايل شيت بالواجهه -->
    <link href="{{ url_for('assets', path='StyleSheets/poetry_generation.css') }}" rel="stylesheet">

    

    <title>واجهة إختيار الشعراء</title>
    <style>
        /* <!-- إضافة الخط --> */

        /* <!-- تطبيق الخط في CSS --> */
        
    </style>
</head>

<body>
    <!-- width="90" height="80" -->

    <!-- الهيدر -->
    <div class="header">
        <nav>
            <a href="#">الرئيسية</a>
            <a href="#">انشئ قصيدتك</a>
            <a href="#">نبذة عنا</a>
        </nav>
        <div class="logo">


                <img src="/assets/images/qafiah_logo.png" alt="شعار قافية" width="70" height="65">



        </div>
    </div>

    <div class="container">
        <div class="material-title">إختر الشاعر</div>
        <div class="row">
            <div class="col s12 m4">
                <div class="material-card">
                    <div class="material-card-content">
                        <img src="assets/images/poetry_generation_interface/ibn_alromi.png"
                            alt="صورة الشاعر ابن الرومي" width="194" height="270">
                        <p>تميز بصدق إحساسه وابتعاده عن الرياء، وأبدع في مزج الفخر بالمدح. عُرف بإجادته الشعر، وبرز في
                            الهجاء برسم صور ساخرة قاسية تثير الضحك</p>
                        <button class="material-btn">ابن الرومي</button>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="material-card">
                    <div class="material-card-content">
                        <img src="assets/images/poetry_generation_interface/ibn_nabata.png"
                            alt="صورة الشاعر ابن نباته" width="209" height="292">
                        <p>شاعر وكاتب وأديب، عُرف بإبداعه في نظم الشعر، حيث كان له ديوان شعر كبير تم ترتيبه وفق الحروف
                            الهجائية</p>
                        <button class="material-btn">ابن نباته</button>
                    </div>
                </div>

            </div>

            <div class="col s12 m4">
                <div class="material-card">
                    <div class="material-card-content">
                        <img src="assets/images/poetry_generation_interface/abo_alalaa.png"
                            alt="صورة الشاعر ابو العلاء" width="288" height="288">
                        <p>شاعرٌ ومُفكِّر وعالم لغوي ونحويٌّ وأديب وفيلسوف من كبار أعلام الحضارة الإسلاميَّة</p>
                        <button class="material-btn">ابو العلاء</button>
                    </div>
                </div>
            </div>
        </div>
        <a href="/select"><button class="material-btn-last">إنشئ قصيدتك</button></a>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/WalaaAlluqmani" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:teamqafiah@gamil.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <p class="footer-text">© فريق قافية 2024</p>
        </div>
    </footer>


    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="assets/JavaScript/poetry_generation.js"></script>
</body>

</html>
