<!-- poetry_generation.html: لتوليد الشعر -->
<!DOCTYPE html>

<!-- This defines the language of the page as Arabic (ar) -->
<html lang="ar">

<head>

    <!-- Link to use the cards (material) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Link of the type of font used -->
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    <!-- Link of the icons used in the footer -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- To link the CSS code to the interface -->
    <link href="{{ url_for('static', path='StyleSheets/poetry_generation.css') }}" rel="stylesheet">
    <!-- Fav Icon -->
    <link href="static\images\FavIcon.png" sizes="32x32" rel="icon" type="image/png">
    <!-- The page title -->
    <title>واجهة إختيار الشعراء | قافية</title>
    <!-- To link the JS code to the interface -->
    <script src="static/JavaScript/poetry_generation.js"></script>

</head>


<body>

    <!-- loading spinner -->
    <div class="overlay" id="overlay">
        <div class="spinner"></div>
        <div class="loading-text">
            ... جاري إنشاء القصيدة
        </div> <!-- نص التحميل -->
    </div>

    <!-- header -->
    <div class="header">
        <!-- navigation bar -->
        <nav>
            <a href="/">الرئيسية</a>
            <a href="/">أنشئ قصيدتك</a>
            <!-- <a href="/">صنف قصيدتك</a> -->
            <a href="/">نبذة عنا</a>
        </nav>
        <div class="logo">
            <a href="/">
                <img src="\static\images\qafiah_logo.png" alt="logo" width="70" height="65">
            </a>
        </div>
    </div>


    <!-- cards of the poets -->
    <div class="container">

        <div class="material-title">إختر الشاعر</div>

        <div class="row">

            <div class="col s12 m4">
                <div class="material-card-soon">
                    <!-- <div class="material-card-soon "> -->
                    <div class="material-card-content">
                        <img src="static/images/poetry_generation_interface/ibn_alromi.png" alt="صورة الشاعر ابن الرومي"
                            width="194" height="270">
                        <p>تميز بصدق إحساسه وابتعاده عن الرياء، وأبدع في مزج الفخر بالمدح. عُرف بإجادته الشعر، وبرز
                            في
                            الهجاء برسم صور ساخرة قاسية تثير الضحك</p>
                        <button class="material-btn-soon">ابن الرومي</button>
                    </div>
                    <!-- </div> -->
                </div>
            </div>

            <div class="col s12 m4">
                <div class="material-card-soon">
                    <div class="material-card-content">
                        <img src="static/images/poetry_generation_interface/ibn_nabata.png" alt="صورة الشاعر ابن نباته"
                            width="209" height="292">
                        <p>شاعر وكاتب وأديب، عُرف بإبداعه في نظم الشعر، حيث كان له ديوان شعر كبير تم ترتيبه وفق الحروف
                            الهجائية</p>
                        <button class="material-btn-soon">ابن نباته المصري</button>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="material-card">
                    <div class="material-card-content">
                        <img src="static/images/poetry_generation_interface/almutnabbi.jpeg" alt="صورة الشاعر ابن نباته"
                            width="180" height="250">
                        <p>شاعر مُجيد وأحد مفاخر الأدب لقِّب بشاعرِ العَرَب، ومالئ الدُّنيا وشاغل الناس، له مكانة سامية
                            لم تُتَح لغيره من شعراء العرب بعد الإسلام</p>
                        <button class="material-btn" onclick="setType('أبو الطيب المتنبي')">أبو الطيب المتنبي</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- button to go to the output interface to display the poem
        <form id="poemForm" onsubmit="submitPoemForm(event)">
            <input type="hidden" name="type" id="selected-type" value="">
            <button type="submit" class="material-btn-last">إنشئ قصيدتك</button>
        </form> -->

        <!-- button to go to the output interface to display the poem -->
        <form action="/generate-poetry" id="form" method="post" onsubmit="showSpinner()">
            <input type="hidden" name="type" id="selected-type" value="">
            <button type="submit" id="regenerateButton" class="material-btn-last">إنشئ قصيدتك</button>
        </form>


    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="container-footer">
            <div class="social-icons">
                <a href="https://linktr.ee/teamqafiah" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:teamqafiah@gamil.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <div class="footer-content">
                <img src="static/images/feather.png" alt="Feather" class="feather-icon">
                <p class="footer-text">جميع الحقوق محفوظة 2025 © قافية</p>
            </div>
        </div>
    </footer>

</body>

</html>